In [1]:
from ilsmc.get_joint_prob_mat import get_joint_prob_mat
import pandas as pd

In [2]:
%%time

array_np = get_joint_prob_mat(0.1, 0.1, 1, 2, 
                  2,   1,   3, 1, 1, 
                  1,   0.5, 1, 1, 1, 
                  1,   1)
print(array_np[:,2].sum())
pd.DataFrame(array_np).pivot(index = 0, columns = 1, values = 2).reset_index()

0.9999999999999998
CPU times: user 3.71 s, sys: 98.9 ms, total: 3.81 s
Wall time: 552 ms

1          0 (0, 0, 0) (1, 0, 0) (2, 0, 0) (3, 0, 0)
0  (0, 0, 0)  0.432237  0.066628  0.066628  0.066628
1  (1, 0, 0)  0.066628  0.022464  0.016769  0.016766
2  (2, 0, 0)  0.066628  0.016769   0.02048   0.01875
3  (3, 0, 0)  0.066628  0.016766   0.01875  0.020483

In [3]:
%%time

array_np = get_joint_prob_mat(0.1, 0.1, 1, 2, 
                  2,   1,   3, 1, 1, 
                  1,   0.5, 1, 1, 1, 
                  2,   2)
print(array_np[:,2].sum())
pd.DataFrame(array_np).pivot(index = 0, columns = 1, values = 2).reset_index()

0.9999999999999993
CPU times: user 19.1 s, sys: 2.4 s, total: 21.5 s
Wall time: 26.1 s

1,0,"(0, 0, 0)","(0, 0, 1)","(0, 1, 0)","(0, 1, 1)","(1, 0, 0)","(1, 0, 1)","(1, 1, 1)","(2, 0, 0)","(2, 0, 1)","(2, 1, 1)","(3, 0, 0)","(3, 0, 1)","(3, 1, 1)"
0,"(0, 0, 0)",0.04995,0.034584,0.020217,0.013747,0.005197,0.005998,0.001134,0.005357,0.005998,0.001134,0.00536,0.005998,0.001134
1,"(0, 0, 1)",0.034584,0.04995,0.013747,0.020217,0.003039,0.008827,0.00216,0.002879,0.008827,0.00216,0.002876,0.008827,0.00216
2,"(0, 1, 0)",0.020217,0.013747,0.038398,0.025259,0.00799,0.00908,0.001707,0.008251,0.00908,0.001707,0.008253,0.00908,0.001707
3,"(0, 1, 1)",0.013747,0.020217,0.025259,0.038398,0.004596,0.013574,0.003327,0.004334,0.013574,0.003327,0.004332,0.013574,0.003327
4,"(1, 0, 0)",0.005197,0.003039,0.00799,0.004596,0.003636,0.002794,0.000372,0.002371,0.002604,0.000372,0.002371,0.002606,0.000372
5,"(1, 0, 1)",0.005998,0.008827,0.00908,0.013574,0.002794,0.008793,0.001475,0.002314,0.005431,0.001475,0.002313,0.005428,0.001475
6,"(1, 1, 1)",0.001134,0.00216,0.001707,0.003327,0.000372,0.001475,0.000752,0.000356,0.001358,0.000487,0.000356,0.001357,0.000487
7,"(2, 0, 0)",0.005357,0.002879,0.008251,0.004334,0.002371,0.002314,0.000356,0.003264,0.002885,0.000356,0.002858,0.002741,0.000356
8,"(2, 0, 1)",0.005998,0.008827,0.00908,0.013574,0.002604,0.005431,0.001358,0.002885,0.007368,0.001358,0.002739,0.0064,0.001358
9,"(2, 1, 1)",0.001134,0.00216,0.001707,0.003327,0.000372,0.001475,0.000487,0.000356,0.001358,0.000652,0.000356,0.001357,0.000587
10,"(3, 0, 0)",0.00536,0.002876,0.008253,0.004332,0.002371,0.002313,0.000356,0.002858,0.002739,0.000356,0.003265,0.002887,0.000356
11,"(3, 0, 1)",0.005998,0.008827,0.00908,0.013574,0.002606,0.005428,0.001357,0.002741,0.0064,0.001357,0.002887,0.007367,0.001357
12,"(3, 1, 1)",0.001134,0.00216,0.001707,0.003327,0.000372,0.001475,0.000487,0.000356,0.001358,0.000587,0.000356,0.001357,0.000652