In [1]:
from ilsmc.get_joint_prob_mat import get_joint_prob_mat
import pandas as pd

In [2]:
%%time

array_np = get_joint_prob_mat(0.1, 0.1, 1, 2, 
                  2,   1,   3, 1, 1, 
                  1,   0.5, 1, 1, 1, 
                  1,   1)
print(array_np[:,2].sum())
pd.DataFrame(array_np).pivot(index = 0, columns = 1, values = 2).reset_index()

0.9999999999999998
CPU times: user 2.88 s, sys: 259 ms, total: 3.14 s
Wall time: 776 ms

1          0 (0, 0, 0) (1, 0, 0) (2, 0, 0) (3, 0, 0)
0  (0, 0, 0)  0.432237  0.066628  0.066628  0.066628
1  (1, 0, 0)  0.066628  0.022464  0.016769  0.016766
2  (2, 0, 0)  0.066628  0.016769   0.02048   0.01875
3  (3, 0, 0)  0.066628  0.016766   0.01875  0.020483

In [3]:
%%time

array_np = get_joint_prob_mat(0.1, 0.1, 1, 2, 
                  2,   1,   3, 1, 1, 
                  1,   0.5, 1, 1, 1, 
                  3,   5)
print(array_np[:,2].sum())
pd.DataFrame(array_np).pivot(index = 0, columns = 1, values = 2).reset_index()

0.9999999999999929
CPU times: user 5min 53s, sys: 50.7 s, total: 6min 44s
Wall time: 5min 44s

1,0,"(0, 0, 0)","(0, 0, 1)","(0, 0, 2)","(0, 0, 3)","(0, 0, 4)","(0, 1, 0)","(0, 1, 1)","(0, 1, 2)","(0, 1, 3)",...,"(6, 0, 1)","(6, 0, 2)","(6, 0, 3)","(6, 0, 4)","(6, 1, 2)","(6, 1, 3)","(6, 1, 4)","(6, 2, 3)","(6, 2, 4)","(6, 3, 4)"
0,"(0, 0, 0)",0.007509,0.003845,0.003845,0.003845,0.003845,0.001692,0.000862,0.000862,0.000862,...,0.000276,0.000276,0.000276,0.000276,0.000185,0.000185,0.000185,0.000132,0.000132,0.000079
1,"(0, 0, 1)",0.003845,0.007975,0.003689,0.003689,0.003689,0.000862,0.001795,0.000828,0.000828,...,0.000616,0.000241,0.000241,0.000241,0.000239,0.000239,0.000239,0.000118,0.000118,0.000071
2,"(0, 0, 2)",0.003845,0.003689,0.007903,0.003725,0.003725,0.000862,0.000828,0.001777,0.000837,...,0.000241,0.000584,0.000257,0.000257,0.000458,0.000187,0.000187,0.000189,0.000189,0.000072
3,"(0, 0, 3)",0.003845,0.003689,0.003725,0.007436,0.004193,0.000862,0.000828,0.000837,0.001671,...,0.000241,0.000257,0.000541,0.0003,0.000187,0.000418,0.000228,0.0003,0.000158,0.00013
4,"(0, 0, 4)",0.003845,0.003689,0.003725,0.004193,0.007436,0.000862,0.000828,0.000837,0.000942,...,0.000241,0.000257,0.0003,0.000541,0.000187,0.000228,0.000418,0.000158,0.0003,0.000186
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
75,"(6, 1, 3)",0.000185,0.000239,0.000187,0.000418,0.000228,0.000297,0.000385,0.000301,0.000673,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
76,"(6, 1, 4)",0.000185,0.000239,0.000187,0.000228,0.000418,0.000297,0.000385,0.000301,0.000367,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
77,"(6, 2, 3)",0.000132,0.000118,0.000189,0.0003,0.000158,0.000212,0.00019,0.000304,0.000484,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
78,"(6, 2, 4)",0.000132,0.000118,0.000189,0.000158,0.0003,0.000212,0.00019,0.000304,0.000255,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
79,"(6, 3, 4)",0.000079,0.000071,0.000072,0.00013,0.000186,0.000127,0.000114,0.000116,0.00021,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN